/* connections/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    display: block;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.users {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.timestamp {
    font-size: 12px;
    color: #555;
}

.options {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
}

#filters-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

.not-following-back {
    background-color: #FFCCCC;
}
