/* connections/following/analysis.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

canvas {
    margin-bottom: 20px;
}

button {
    margin: 10px 0;
    padding: 4px 4px;
    font-size: 14px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgba(54, 162, 235, 0.2);
    color: black;
}

td.zero {
    opacity: 0.3; /* Make cells with 0 less visible */
}

td.total {
    font-weight: bold; /* Make total cells bold */
}

td.accumulating {
    font-weight: bold; /* Make accumulating cells bold */
}

td.highlight-least {
    background-color: #FF8080;
}

td.highlight-most {
    background-color: #C7F6C7;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    transition: all 0.3s ease-in-out;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.styled-table th {
    background-color: rgba(54, 162, 235, 0.2);
    color: black;
}

.styled-table td.total,
.styled-table td.accumulating {
    font-weight: bold;
}
